/* Overrides */
::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

/* Bootstrap */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#education .position-absolute img	{
		height: 55px;
	}
	#education .position-absolute p	{
		font-size: 2vh;
	}
	#divider	{
		display: block;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#education .position-absolute img	{
		height: 25px;
	}
	#education .position-absolute p	{
		font-size: 1.5vh;
	}
	#work1a	{
		height: 20px;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	#education .position-absolute img	{
		height: 35px;
	}
	#education .position-absolute p	{
		font-size: 2vh;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	#education .position-absolute img	{
		height: 55px;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#education .position-absolute img	{
		height: 85px;
	}
}

.btn-lin	{
  color: #ffffff;
  background-color: #0077c5;
  border-color: #0077c5;
}

/* Custom Styles */

#logo	{
	height: 50px;
}

#work1a	{
	height: 50px;
}

#myPic, #work1b	{
	height: 200px;
}

/* #educ1	{ */
	/* background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8b/Front_view_of_the_north_wing_portion_of_the_main_building_of_the_Polytechnic_University_of_the_Philippines_%28PUP%29_Mabini_Campus_at_Anonas_Street%2C_Santa_Mesa%2C_Manila.jpg"); */
	/* background-size: cover; */
/* } */

/* #skills img	{ */
	/* min-height: 20px; */
	/* max-height: 50px; */
/* } */

/* img#sub	{ */
	/* height: 35px; */
/* } */

#skills img	{
	width: 100%;
	min-width: 35px;
	max-width: 55px;
}

img#sub	{
	width: 100%;
	min-width: 25px;
	max-width: 35px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}

.overlayEduc1 {
	background-color: #032f9e;
}

.overlayEduc2 {
	background-color: #800000;
}

.overlayWorks {
	background-color: #dc3545;
}

/* Animations */

.nav-item a {
	position: relative;
	color: #28a745;
	text-decoration: none;
}

.nav-item a:hover {
	color: #28a745;
	text-decoration: none;
}

.nav-item a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #28a745;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav-item a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}