/* NEW (OCTOBER REDESIGN) */

/* Border Radius */
.radius-10 {
  border-radius: 10px;
}
.radius-20 {
  border-radius: 20px;
}
.radius-20-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.radius-20-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Margin */
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-30 {
  margin: 30px;
}
.margin-right-5 {
  margin-right: 5px;
}

/* Padding */
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.padding-80 {
  padding: 80px;
}
.padding-horizontal-20 {
  padding-left: 20px;
  padding-right: 20px;
}

/* Gap */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 50px;
}

/* Text Overflow */
.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

.v-popper--theme-tooltip .v-popper__inner,
.v-popper--theme-tooltip-small .v-popper__inner {
  background-color: var(--dew);
  border: 1px solid var(--mar);
  box-shadow: 0 4px 14px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  padding: 10px 12px;
  color: var(--snow);
  max-width: 400px;
  width: auto;
  z-index: 999;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Quicksand Regular', sans-serif;
  letter-spacing: 0.004em;
}

.v-popper--theme-tooltip-small .v-popper__inner {
  width: 65vw;
  font-size: 11px; /* s4 */
  line-height: 15px; /* s4 */
}

.v-popper--theme-tooltip .v-popper__arrow-container,
.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-tooltip-small .v-popper__arrow-container,
.v-popper--theme-tooltip-small .v-popper__arrow-outer
{
  border-color: var(--mar);
}

.v-popper--theme-tooltip-small .v-popper__inner {
  background-color: var(--dew);
  border: 1px solid var(--mar);
  box-shadow: 0px 4px 14px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  padding: 10px 12px;
  color: var(--snow);
  max-width: 400px;
  width: 65vw;
  z-index: 999;
  font-size: 11px; /* s4 */
  line-height: 15px; /* s4 */
  font-family: 'Quicksand Regular', sans-serif;
  letter-spacing: 0.004em;
}

.v-popper--theme-tooltip-small .v-popper__arrow-container,
.v-popper--theme-tooltip-small .v-popper__arrow-outer {
  border-color: var(--mar);
}
