/*This Code is Licensed by Will-Myers.com*/
.wm-overflow-slider {
  padding-right: 0px;
  padding-left: 0px;
  --item-width: 350px;
  --item-margin: 10px;
}
.wm-overflow-slider .summary-item-list {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50vw);
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: grab;
  margin-bottom: 0px !important;
  transition: all 0.3s ease;
  padding-left: var(--leftOffSet) !important;
}
.wm-overflow-slider .summary-item-list::after {
  content: "";
  padding: calc(var(--leftOffSet) / 2);
}
.wm-overflow-slider .summary-item-list.active {
  scroll-behavior: auto;
  transform: scale(0.98) translateX(-50vw);
  transition: all 0.3s ease;
  scroll-snap-type: unset;
}
@supports (scroll-behavior: smooth) {
  .wm-overflow-slider .summary-item-list.active {
    scroll-snap-type: x mandatory;
  }
}
.wm-overflow-slider .summary-item-list.disable-click a {
  pointer-events: none;
}
.wm-overflow-slider .carousel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wm-overflow-slider .carousel-btn {
  border: 1px solid black;
  display: block;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}
.wm-overflow-slider .carousel-btn.right {
  margin-left: 0.2em;
}
.wm-overflow-slider .carousel-btn:hover {
  background: hsla(0, 0%, 0%, 0.25);
  color: white;
}
.wm-overflow-slider .carousel-btn svg {
  height: 100%;
  width: 100%;
}
.wm-overflow-slider .carousel-btn path {
  stroke: black;
}
.wm-overflow-slider .summary-thumbnail img {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 1 !important;
  object-fit: cover;
}
/*Remove Scrollbar*/
.wm-overflow-slider .summary-item-list::-webkit-scrollbar {
  display: none;
}
.wm-overflow-slider .summary-item {
  min-width: var(--item-width);
  margin-right: var(--item-margin) !important;
  transition: all 0.3s ease;
}
.wm-overflow-slider .summary-item-list.active .summary-item {
  scroll-snap-align: unset;
  transition: all 0.3s ease;
}
@supports (scroll-behavior: smooth) {
  .wm-overflow-slider .summary-item-list .summary-item {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
section > .content-wrapper {
  box-sizing: border-box !important;
}
/*Mobile Media Query*/
@media (max-width: 799px) {
  .wm-overflow-slider .summary-item {
    scroll-snap-align: center;
  }
}
